<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.bg</key>
	<string>A_.bg.glif</string>
	<key>A.fg</key>
	<string>A_.fg.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.tenline</key>
	<string>C_.tenline.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.bg</key>
	<string>D_.bg.glif</string>
	<key>D.fg</key>
	<string>D_.fg.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.bg</key>
	<string>E_.bg.glif</string>
	<key>E.fg</key>
	<string>E_.fg.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.bg</key>
	<string>F_.bg.glif</string>
	<key>F.fg</key>
	<string>F_.fg.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.bg</key>
	<string>G_.bg.glif</string>
	<key>G.fg</key>
	<string>G_.fg.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.bg</key>
	<string>H_.bg.glif</string>
	<key>H.fg</key>
	<string>H_.fg.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I.bg</key>
	<string>I_.bg.glif</string>
	<key>I.fg</key>
	<string>I_.fg.glif</string>
	<key>I.threeline</key>
	<string>I_.threeline.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.fg</key>
	<string>K_.fg.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.01</key>
	<string>L_.01.glif</string>
	<key>L.bg</key>
	<string>L_.bg.glif</string>
	<key>L.fg</key>
	<string>L_.fg.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.bg</key>
	<string>M_.bg.glif</string>
	<key>M.fg</key>
	<string>M_.fg.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.bg</key>
	<string>N_.bg.glif</string>
	<key>N.fg</key>
	<string>N_.fg.glif</string>
	<key>NameMe.100</key>
	<string>N_ameM_e.100.glif</string>
	<key>NameMe.101</key>
	<string>N_ameM_e.101.glif</string>
	<key>NameMe.102</key>
	<string>N_ameM_e.102.glif</string>
	<key>NameMe.103</key>
	<string>N_ameM_e.103.glif</string>
	<key>NameMe.104</key>
	<string>N_ameM_e.104.glif</string>
	<key>NameMe.105</key>
	<string>N_ameM_e.105.glif</string>
	<key>NameMe.108</key>
	<string>N_ameM_e.108.glif</string>
	<key>NameMe.109</key>
	<string>N_ameM_e.109.glif</string>
	<key>NameMe.110</key>
	<string>N_ameM_e.110.glif</string>
	<key>NameMe.111</key>
	<string>N_ameM_e.111.glif</string>
	<key>NameMe.112</key>
	<string>N_ameM_e.112.glif</string>
	<key>NameMe.113</key>
	<string>N_ameM_e.113.glif</string>
	<key>NameMe.114</key>
	<string>N_ameM_e.114.glif</string>
	<key>NameMe.115</key>
	<string>N_ameM_e.115.glif</string>
	<key>NameMe.117</key>
	<string>N_ameM_e.117.glif</string>
	<key>NameMe.118</key>
	<string>N_ameM_e.118.glif</string>
	<key>NameMe.119</key>
	<string>N_ameM_e.119.glif</string>
	<key>NameMe.120</key>
	<string>N_ameM_e.120.glif</string>
	<key>NameMe.121</key>
	<string>N_ameM_e.121.glif</string>
	<key>NameMe.122</key>
	<string>N_ameM_e.122.glif</string>
	<key>NameMe.123</key>
	<string>N_ameM_e.123.glif</string>
	<key>NameMe.124</key>
	<string>N_ameM_e.124.glif</string>
	<key>NameMe.125</key>
	<string>N_ameM_e.125.glif</string>
	<key>NameMe.127</key>
	<string>N_ameM_e.127.glif</string>
	<key>NameMe.26</key>
	<string>N_ameM_e.26.glif</string>
	<key>NameMe.27</key>
	<string>N_ameM_e.27.glif</string>
	<key>NameMe.28</key>
	<string>N_ameM_e.28.glif</string>
	<key>NameMe.29</key>
	<string>N_ameM_e.29.glif</string>
	<key>NameMe.30</key>
	<string>N_ameM_e.30.glif</string>
	<key>NameMe.31</key>
	<string>N_ameM_e.31.glif</string>
	<key>NameMe.32</key>
	<string>N_ameM_e.32.glif</string>
	<key>NameMe.33</key>
	<string>N_ameM_e.33.glif</string>
	<key>NameMe.34</key>
	<string>N_ameM_e.34.glif</string>
	<key>NameMe.35</key>
	<string>N_ameM_e.35.glif</string>
	<key>NameMe.36</key>
	<string>N_ameM_e.36.glif</string>
	<key>NameMe.38</key>
	<string>N_ameM_e.38.glif</string>
	<key>NameMe.39</key>
	<string>N_ameM_e.39.glif</string>
	<key>NameMe.40</key>
	<string>N_ameM_e.40.glif</string>
	<key>NameMe.41</key>
	<string>N_ameM_e.41.glif</string>
	<key>NameMe.42</key>
	<string>N_ameM_e.42.glif</string>
	<key>NameMe.43</key>
	<string>N_ameM_e.43.glif</string>
	<key>NameMe.44</key>
	<string>N_ameM_e.44.glif</string>
	<key>NameMe.46</key>
	<string>N_ameM_e.46.glif</string>
	<key>NameMe.47</key>
	<string>N_ameM_e.47.glif</string>
	<key>NameMe.48</key>
	<string>N_ameM_e.48.glif</string>
	<key>NameMe.49</key>
	<string>N_ameM_e.49.glif</string>
	<key>NameMe.50</key>
	<string>N_ameM_e.50.glif</string>
	<key>NameMe.51</key>
	<string>N_ameM_e.51.glif</string>
	<key>NameMe.52</key>
	<string>N_ameM_e.52.glif</string>
	<key>NameMe.53</key>
	<string>N_ameM_e.53.glif</string>
	<key>NameMe.54</key>
	<string>N_ameM_e.54.glif</string>
	<key>NameMe.55</key>
	<string>N_ameM_e.55.glif</string>
	<key>NameMe.56</key>
	<string>N_ameM_e.56.glif</string>
	<key>NameMe.57</key>
	<string>N_ameM_e.57.glif</string>
	<key>NameMe.58</key>
	<string>N_ameM_e.58.glif</string>
	<key>NameMe.59</key>
	<string>N_ameM_e.59.glif</string>
	<key>NameMe.60</key>
	<string>N_ameM_e.60.glif</string>
	<key>NameMe.61</key>
	<string>N_ameM_e.61.glif</string>
	<key>NameMe.62</key>
	<string>N_ameM_e.62.glif</string>
	<key>NameMe.63</key>
	<string>N_ameM_e.63.glif</string>
	<key>NameMe.64</key>
	<string>N_ameM_e.64.glif</string>
	<key>NameMe.65</key>
	<string>N_ameM_e.65.glif</string>
	<key>NameMe.66</key>
	<string>N_ameM_e.66.glif</string>
	<key>NameMe.67</key>
	<string>N_ameM_e.67.glif</string>
	<key>NameMe.68</key>
	<string>N_ameM_e.68.glif</string>
	<key>NameMe.69</key>
	<string>N_ameM_e.69.glif</string>
	<key>NameMe.70</key>
	<string>N_ameM_e.70.glif</string>
	<key>NameMe.71</key>
	<string>N_ameM_e.71.glif</string>
	<key>NameMe.72</key>
	<string>N_ameM_e.72.glif</string>
	<key>NameMe.73</key>
	<string>N_ameM_e.73.glif</string>
	<key>NameMe.74</key>
	<string>N_ameM_e.74.glif</string>
	<key>NameMe.75</key>
	<string>N_ameM_e.75.glif</string>
	<key>NameMe.76</key>
	<string>N_ameM_e.76.glif</string>
	<key>NameMe.77</key>
	<string>N_ameM_e.77.glif</string>
	<key>NameMe.79</key>
	<string>N_ameM_e.79.glif</string>
	<key>NameMe.80</key>
	<string>N_ameM_e.80.glif</string>
	<key>NameMe.81</key>
	<string>N_ameM_e.81.glif</string>
	<key>NameMe.85</key>
	<string>N_ameM_e.85.glif</string>
	<key>NameMe.86</key>
	<string>N_ameM_e.86.glif</string>
	<key>NameMe.87</key>
	<string>N_ameM_e.87.glif</string>
	<key>NameMe.90</key>
	<string>N_ameM_e.90.glif</string>
	<key>NameMe.93</key>
	<string>N_ameM_e.93.glif</string>
	<key>NameMe.95</key>
	<string>N_ameM_e.95.glif</string>
	<key>NameMe.96</key>
	<string>N_ameM_e.96.glif</string>
	<key>NameMe.99</key>
	<string>N_ameM_e.99.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.bg</key>
	<string>O_.bg.glif</string>
	<key>O.fg</key>
	<string>O_.fg.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.bg</key>
	<string>Q_.bg.glif</string>
	<key>Q.fg</key>
	<string>Q_.fg.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.bg</key>
	<string>S_.bg.glif</string>
	<key>S.fg</key>
	<string>S_.fg.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.02</key>
	<string>T_.02.glif</string>
	<key>T.02.bg</key>
	<string>T_.02.bg.glif</string>
	<key>T.bg</key>
	<string>T_.bg.glif</string>
	<key>T.fg</key>
	<string>T_.fg.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.fg</key>
	<string>U_.fg.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.fg</key>
	<string>W_.fg.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.fg</key>
	<string>Y_.fg.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.fg</key>
	<string>Z_.fg.glif</string>
</dict>
</plist>
